@font-face
{
  font-family: 'FiraCode';
  src: url('FiraCode-Bold.ttf'); 
}

body 
{
  background-color:black;
}

header
{
  border-radius:7px;
  background-color:white;
  color:white;
}

p 
{
  color:white;
  font-family:FiraCode;
}

h1
{
  font-family:FiraCode;
}

h1.a
{
  color:black;
}

a.nounderline
{
  text-decoration: none;
}

.div1
{
  height:3px;
  width:500px;
  background-color:white;
}
