body 
{
  background-color:black;
}

header
{
  background-color:white;
  color:white;
}

p 
{
  color:white;
}

h1.a
{
  color:black;
}

a.nounderline
{
  text-decoration: none;
}

@font-face
{
  font-family: 'number_font';
  src: url('FiraCode-Bold.ttf'); 
}
　



.div1
{
  height:3px;
  width:500px;
  background-color:white;
}
